@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap:wght@500&family=Sora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap:wght@500&family=Fira+Sans&family=Sora&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Sora', 'Asap', 'Fira Sans', sans-serif;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 40px 100px;
  z-index: 10000;
  transition: 0.6s;
}

header .logo {
  position: relative;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.6s;  
}

header .logo img {
  width: 125px; 
  height: 125px;
}

header #toggle {
  position: relative;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.banner {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  background: url(ichuteam3.jpg);
  background-color: black;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  transition: 0.5s;
}

.banner.active {
  transform: translateX(-400px);
}

#navigation {
  position: fixed;
  top: 0;
  right: -400px;
  width: 400px;
  height: 100vh;
  background: #1b9945;
  z-index: 1;
  display: grid;
  place-items: center;
  transition: 0.5s;
}

#navigation.active {
  right: 0;
}

#navigation ul {
  position: relative;
  display: flex;
  flex-direction: column;
}

#navigation ul li {
  list-style-type: none;
}

#navigation ul li a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  font-size: 2em;
  font-weight: 600;
  text-transform: uppercase;
  margin: 4px;
}

.content {
  max-width: 600px;
}

.content h2 {
  color: #fff;
  font-size: 2.5em;
}

.content h2 span {
  color: #1b9945;
  font-size: 1.2em;
}

.content p {
  font-size: 1.2em;
  color: #fff;
  font-weight: 300;
}

.content a {
  position: relative;
  display: inline-block;
  margin-top: 20px;
  background: #1b9945;
  color: #000;
  padding: 10px 30px;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: 500;
  border:#1b9945 solid;
  transition: 0.5s;
}
.content a:hover {
  border:white solid;
  background: white;
}


@media (max-width: 850px) {
  header {
    padding: 30px 50px;
  }
  .banner {
    padding: 100px 50px 150px;
  }
  .banner.content h2 {
    font-size: 1.8em;
  }
  .banner p, .banner.content a {
    font-size: 1em;
  }
  .banner.active {
    transform: translateX(-250px);
  }
  #navigation {
    width: 250px;
  }

  header .logo img {
    width: 75px; 
    height: 75px;
  }
}